.card {
  width: 100%;
  max-width: 300px;

  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, .2);

  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.card:hover {
  transform: translateY(-3px)
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 15px;

  background: #eef0f2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.header svg {
  fill: #7f898f;
}

.content {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

.name {
  margin-bottom: 10px;
  overflow: hidden;
  
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  max-width: 80%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}
