.button {
  padding: 12px 14px;

  color: #fff;
  font-size: 14px;
  font-weight: 600;
  
  background-color: var(--primary-color);
  border: 0;
  border-radius: 4px;

  transition: all 0.3s linear;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
